<?xml version="1.0"?>
<unityPE xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <containers>
    <container>
      <types>
        <type type="KonnectNow.WebAPI.Managers.IUserManager, KonnectNow.WebAPI" mapTo="KonnectNow.WebAPI.Managers.UserManager, KonnectNow.WebAPI">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <type type="KonnectNow.WebAPI.Managers.Interfaces.ILookUpManager, KonnectNow.WebAPI" mapTo="KonnectNow.WebAPI.Managers.LookUpManager, KonnectNow.WebAPI">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <type type="KonnectNow.WebAPI.Managers.Interfaces.IValidationManager, KonnectNow.WebAPI" mapTo="KonnectNow.WebAPI.Managers.ValidationManager, KonnectNow.WebAPI">
          <lifetime type="hierarchical" />
          <interceptor type="InterfaceInterceptor" />
          <policyInjection />
        </type>
        <type type="KonnectNow.Repository.EF.IUnitOfWorkBase, KonnectNow.Repository" mapTo="KonnectNow.Repository.EF.UnitOfWorkBase, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.IUserRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.UserRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.ICategoryRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.CategoryRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.ICountryRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.CountryRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.ICityRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.CityRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.ILocationRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.LocationRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.IStateRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.StateRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>   
      <type type="KonnectNow.Repository.Repositories.Interfaces.IQueryRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.QueryRepository, KonnectNow.Repository">
        <lifetime type="hierarchical" />
      </type>
        <type type="KonnectNow.Repository.Repositories.Interfaces.IValidationRepository, KonnectNow.Repository" mapTo="KonnectNow.Repository.Repositories.ValidationRepository, KonnectNow.Repository">
          <lifetime type="hierarchical" />
        </type>
      </types>
    </container>
  </containers>
  <typeAliases>
    <typeAlias alias="perInstance" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="hierarchical" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
</unityPE>
